name: Build gothic3sdk

on: [push, pull_request]

jobs:
  cmake:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 1

      - name: MSVC Development Environment
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        with:
          arch: x86

      - name: Build
        run: |
          cmake -S . -B build -G "Visual Studio 17 2022" -A Win32
          cmake --build build --config Release -j
