name: Check formatting

on: [push, pull_request]

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Run clang-format style check
        uses: georgeto/clang-format-lint-action@bd07217901b18dd1992c72040c499eb7715203a3
        with:
          clangFormatVersion: 20
          extensions: c,h,cpp,hpp,cc,inl
          source: g3 util
          style: file
